Расписание ( // комментарий вот такой
    Понедельник: {
        "1": {
            "Предмет": "Физра",
            "Преподаватель": "Варушин А.В.",
            "Время начала": "13.30",
            "Время окончания": "15.00",
            "Аудитория": ["4402/1", "Ломо"]
        }
    },

    Четверг: {
    /*
    многострочный комментарий
    ...
    ...
    ...
    */
        "1": {
            "Предмет": "Информатика",
            "Преподаватель": "Миняев И.А.",
            "Время начала": "11.30",
            "Время окончания": "13.00",
            "Аудитория": ["1328", "ГК"]
        },
        "2": {
            "Предмет": "Информатика",
            "Преподаватель": "Миняев И.А.",
            "Время начала": "13.30",
            "Время окончания": "15.00",
            "Аудитория": ["1328", "ГК"]
        },
        "3": {
            "Предмет": "ОПД",
            "Преподаватель": "Ткешелашвили Н.М.",
            "Время начала": "15.30",
            "Время окончания": "17.00",
            "Аудитория": ["2435/3", "ГК"]
        },
        "4": {
            "Предмет": "ОПД",
            "Преподаватель": "Ткешелашвили Н.М.",
            "Время начала": "17.10",
            "Время окончания": "18.40",
            "Аудитория": ["2435/3", "ГК"] // ещё комментарий
        }
    }
)