Schedule ( // комментарий вот такой
    Понедельник: {
        "1": {
            "Предмет": "Физра",
            "Преподаватель": "Варушин А.В.",
            "Время начала": "13.30",
            "Время окончания": "15.00",
            "Аудитория": ["4402/1", "Ломо"]
        }
    },

    Thursday: {
    /*
    многострочный комментарий
    ...
    ...
    ...
    */
        "1": {
            "Subject": "Информатика",
            "Teacher": "Миняев И.А.",
            "Start": "11.30",
            "End": "13.00",
            "Class": ["1328", "ГК"]
        },
        "2": {
            "Subject": "Информатика",
            "Teacher": "Миняев И.А.",
            "Start": "13.30",
            "End": "15.00",
            "Class": ["1328", "ГК"]
        },
        "3": {
            "Subject": "ОПД",
            "Teacher": "Ткешелашвили Н.М.",
            "Start": "15.30",
            "End": "17.00",
            "Class": ["2435/3", "ГК"]
        },
        "4": {
            "Subject": "ОПД",
            "Teacher": "Ткешелашвили Н.М.",
            "Start": "17.10",
            "End": "18.40",
            "Class": ["2435/3", "ГК"] // ещё комментарий
        }
    }
)